@import "../../styles/variables";
button {
  background-color: $primary;
  position: relative;
  border: 1px solid $primary;
  transition: 0.3s ease all;
  overflow: hidden;
  &.small {
    padding: 0 21px;
    min-height: 50px;
    span {
      font-size: 0.875rem;
      line-height: 1.063rem;
    }
  }
  &.large {
    padding: 0 60px;
    min-height: 80px;
    @media only screen and (max-width: 1024px) {
      min-height: 60px;
    }
    span {
      font-size: 1.125rem;
      line-height: 1.438rem;
    }
  }
  span {
    letter-spacing: 0px;
    text-transform: uppercase;
    color: $white;
    @extend .pb;
    position: relative;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: $white;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in transform;
  }
  &:hover {
    &:before {
      transform: translateX(0%);
      transition: 0.3s ease-in transform;
    }
    span {
      color: $primary;
    }
  }
}
