@import "../../styles/variables";
.digital-direction {
  padding: 219px 0 146px;
  background-image: url("../../assets/images/digital-direciton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $light-low-grey;
  margin-top: -1.688rem;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 768px) {
    background-position: inherit;
  }
  .section-title {
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
  }
  .digital-info {
    // font: normal normal 300 20px/36px "Proxima Nova";
    @extend .pl;
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.025rem;
    color: $white;
    opacity: 0.7;
    margin-bottom: 5.063rem;
    @media only screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  .ample-heading {
    // font: normal normal normal 32px/36px "Proxima Nova";
    @extend .pr;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.04rem;
    color: $white;
    margin-bottom: 1.688rem;
    @media only screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
    strong {
      @extend .pb;
    }
  }
  .store-wrapper {
    display: flex;
    column-gap: 0.625rem;
    flex-wrap: wrap;
    margin-bottom: 4.375rem;
    img {
      flex: 0 0 12.5rem;
    }
  }
}
